# Abaikan file data besar
*.csv
*.json
*.xlsx
*.zip
*.rar

# Abaikan folder virtual environment (jika ada)
venv/
env/
__pycache__/

# Abaikan file log
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
